body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.loading-image {
  padding-top: 25%;
}

/* Game */
#game {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -64px -64px 0 0;
  display: none;
}

#elementBlock {
  background-color: #FFF;
  border-radius: 20px;
  padding: 10px;
  width: 128px;
  height: 128px;
  position: relative;
}

#element {
  display: none;
}

#aim {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

#scoreBlock {
  color: #FFF;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  font-family: arial;
  background-color: #F15A22;
  padding: 10px;
  border-radius: 20px;
  display: none;
}

#score {
  font-weight: 800;
  font-size: 48px;
}

#totalScore {
  font-size: 24px;
}
